/* ==========================================================================
   1. Font Face - Sets up the website fonts
   ========================================================================== */

/*

@font-face {
  font-family: 'FontFamilyName';
  src: url('../fonts/fontFolder/fontfile.eot');
  src: url('../fonts/fontFolder/fontfile.eot') format('embedded-opentype'),
       url('../fonts/fontFolder/fontfile.woff2') format('woff2'),
       url('../fonts/fontFolder/fontfile.woff') format('woff'),
       url('../fonts/fontFolder/fontfile.ttf') format('truetype'),
       url('../fonts/fontFolder/fontfile.svg#FontFamilyName') format('svg');
}

*/
